body {
    background-color: black;
    font-family: "Oswald", sans-serif;
    margin: 50px;
}

#invertcolor {
    filter: invert(1);
}

/*navegação*/
.navegacao{
    display: inline-flex;
    flex-direction: column;
    float: left;
    justify-content:center;
    text-align: center;
    align-items: center;
    padding: 5px;
    width: 18%;
}

.navegacao img{
    height: auto;
    width: 100%;
}
.navegacao a{
    text-decoration: none;
    width: 30%;
    margin-bottom: 8px;
    
}
.navegacao b{
    color: white;
}

/*principal*/

.principaltitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100px;
    max-height: 100px;
    font-size: 40px;
    color: white;
}

.principal{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 75%;
    height: 473px;
}

.principal a{
    text-decoration: none;
    color: rgb(180, 0, 0);
}

.principal p{
    font-size: 23px;
}


/*redes icons*/
.redesicons{
    display: flex;
    text-align: center;
    align-items: center;
}

.redesicons img{
    height: auto;
    width: 100%;
    margin-bottom: 5px;
}
.redesicons a{
    text-decoration: none;
    width: 15%;
    margin-left: 150px;
}
.redesicons b{
    color: white;
    font-size: 18px;
}

/* parcerias */
.parceiros{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.parceiros img{
    height: auto;
    width: 100%;
}
.parceiros a{
    text-decoration: none;
    width: 35%;
}
.parceiros b{
    color: white;
    font-size: 25px;
}

/* projetos */
.projetos{
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
}

.projetos img{
    height: auto;
    width: 100%;
}
.projetos a{
    text-decoration: none;
    width: 23.1%;
    margin-left: 130px;
}
.projetos b{
    color: white;
    font-size: 25px;
}

#nuker{
    width: 38.5%;
}

/* principal nuker*/
.principalnuker{
    display: flex;
    text-align: center;
    width: 75%;
    height: 473px;
}

.principalnuker p{
    font-size: 18.5px;
}

.principalnuker a{
    text-decoration: none;
    color: rgb(180, 0, 0);
}

/* pagina coming soon */
.comingsoon {
    color: white;
    text-align: center;
    font-size: 35px;
    width: 100%;
}
.comingsoon a{
    text-decoration: none;
    color: rgb(180, 0, 0);
}